@import './SCSS/colours';
@import './SCSS/measurements';
@import './SCSS/fonts';

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100%;
  height: 100vh;
}

.App-header {
  width: 97%;
  height: 100%;
}

.calculations {
  display: none;
}

#chanceBox {
  font-size: $medium;
  color: $white;
  padding: 4px 0 10px;
}

#chances {
  font-size: $large;
  color: $white;
}

#ex1 {
  grid-column: 1;
}

#ex2 {
  grid-column: 2;
}

#ex3 {
  grid-column: 3;
}

#ex4 {
  grid-column: 4;
}

/* Exercise information */
#exercise {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  // padding-top: 4px;
  width: 20%;
  background-color: white;
  height: 100vh;
  padding-top: 50px;
}

#exerciseMenuIcon {
  border-radius: $button;
  border: solid;
  margin: 6px;
  background-color: white;
  // top: 4px;
  // left: 4px;
  z-index: 20;
  position: absolute;
}

#headerContainer {
  position: relative;
}

.exItem {
  display: flex;
  flex-direction: column;
  // margin: 0 0 0 15%;
  flex: 0 0 auto;
  margin: 30px;
  align-items: center;
}

/* Ex1 won't use this for some reason
.exItem:hover {
  height: 30vh;
} */

.exerciseText {
  font-family: $Noto;
  font-style: normal;
  font-weight: 600;
  font-size: $headerText;
  line-height: 48px;
  color: $black;
}

.exShape {
  height: 8vh;
  width: 100%;
  background: $white;
  margin: $marginCenter;
  border-radius: $borderHeader;
  box-shadow: $grey 5px 3px;
  border: 0.1px solid $black;
  justify-content: center;
}

#floor {
  // height: 86vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
  background-color: $floor;
  min-height: 100%;
  gap: 20px;
}

#homeIcon {
  grid-row: 2;
}

#innerTableBorder {
  width: 98%;
  height: 100%;
  border: 2px solid black;
  margin-left: 1%;
  border-radius: $borderHeader;
  display: flex;
}

#logo {
  grid-row: 1;
}

#mainTable {
  width: 80%;
  height: 65%;
  /* border: 2px solid $black; */
  margin: 1% 1% 0 18%;
  border-radius: $borderHeader;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*
These are the opponent cards
oh: opponent hand
l: left, r: right
1-5: the number of the hand it follows
E.g.: ohl1 means opponent hand left 1
 */
#ohl1 {
  grid-row: 1;
}

#ohr1 {
  grid-row: 1;
}

#ohl2 {
  grid-row: 3;
}

#ohr2 {
  grid-row: 3;
}

#ohl3 {
  grid-row: 5;
}

#ohr3 {
  grid-row: 5;
}

#ohl4 {
  grid-row: 7;
}

#ohr4 {
  grid-row: 7;
}

#ohl5 {
  grid-row: 9;
}

#ohr5 {
  grid-row: 9;
}

#oppCards {
  width: 10%;
  margin: 1% 2% 1% 0;
}

#oppCards {
  display: inline-grid;
  grid-template-rows: $grid-rows;
  grid-template-columns: repeat(2, 50%);
}

#padding {
  height: 3%;
}

#percentages {
  display: inline-grid;
  grid-template-rows: $grid-rows;
  width: 7%;
  color: $white;
}

#percentage1 {
  grid-row: 1;
}

#percentage2 {
  grid-row: 3;
}

#percentage3 {
  grid-row: 5;
}

#percentage4 {
  grid-row: 7;
}

#percentage5 {
  grid-row: 9;
}

#playerCards {
  width: 100%;
  height: 20%;
  text-align: center;
  margin-top: 2%;
}

/* Playing cards */
.playerCards {
  width: 11%;
  /* border: $cardBorder $lightgrey; */
  border-radius: $cards;
}

/* Poker table */
#pokerTable {
  width: 80%;
  background: $green;
  margin: 0 auto;
  border-radius: $table;
  border: 40px solid $black;
  padding: 3vh 0 3vh 0;
}

/* All the cards */
#rightCard {
  margin-left: 2vh;
}

#sendIcon {
  grid-row: 3;
}

/* Sidebar */
.sidebar {
  width: 3%;
  background: $sidebar;
  display: inline-grid;
  grid-template-rows: repeat(20, 1fr);
}

.sidebarItem {
  margin: $marginCenter;
  padding-top: 10%;
}

.slider {
  width: 33%;
  text-align: center;
}

#sliderFunctions {
  justify-content: center;
  width: 100%;
  display: inline-flex;
}

#star-icon {
  grid-row: 4;
}

#submitGuess {
  font-size: $small;
  border-radius: $button;
  padding: 1.5% 0 0 1%;
}

#tableCards {
  width: 77%;
  height: 75%;
  margin: 5% 0 0 10%;
}

.tableCards {
  width: 15%;
  margin: 1%;
  border: $cardBorder $black;
  border-radius: $cards;
}


/* Exercise_Table */
.table {
  width: 100%;
  height: 5%;
  top: 298px;
}

/* Multiple elements affected */
.hand1, .hand2, .hand3, .hand4, .hand5 {
  width: 90%;
  border: $cardBorder $black;
  border-radius: $cards;
}

.hand1, .hand2, .hand3, .hand4, .hand5, .playerCards, .tableCards {
  opacity: 0;
}

.hidden {
  display: none !important;
}
/* #playerCards, #tableCards {
  margin-top: 10%;
}*/
