@import './SCSS/Colours';
@import './SCSS/measurements';
@import './SCSS/fonts';

.App {
  display: flex;
  width: 100%;
}

.App-header {
  width: 97%;
}

.calculations {
  display: none;
}

#chanceBox {
  font-size: $medium;
  color: $white;
}

#chances {
  font-size: $large;
  color: $white;
}

#ex1 {
  grid-column: 1;
}

#ex2 {
  grid-column: 2;
}

#ex3 {
  grid-column: 3;
}

#ex4 {
  grid-column: 4;
}

/* Exercise information */
.exercise {
  text-align: center;
  display: inline-grid;
  padding-top: 4px;
  width: 100%;
}

.exerciseText {
  font-family: $Noto;
  font-style: normal;
  font-weight: 600;
  font-size: $headerText;
  line-height: 48px;
  color: $black;
}

.exShape {
  height: 15vh;
  width: 10vw;
  background: $white;
  margin: $marginCenter;
  border-radius: $borderHeader;
  box-shadow: $grey 5px 1px;
  border: 3px solid $black;
  justify-content: center;
}

#floor {
  height: 78.5vh;
  width: 100%;
  background-color: $floor;
}

#homeIcon {
  grid-row: 2;
}

#logo {
  grid-row: 1;
}

/*
These are the opponent cards
oh: opponent hand
l: left, r: right
1-5: the number of the hand it follows
E.g.: ohl1 means opponent hand left 1
 */
#ohl1 {
  grid-row: 1;
}

#ohr1 {
  grid-row: 1;
}

#ohl2 {
  grid-row: 3;
}

#ohr2 {
  grid-row: 3;
}

#ohl3 {
  grid-row: 5;
}

#ohr3 {
  grid-row: 5;
}

#ohl4 {
  grid-row: 7;
}

#ohr4 {
  grid-row: 7;
}

#ohl5 {
  grid-row: 9;
}

#ohr5 {
  grid-row: 9;
}

#oppCards {
  width: 10%;
}

#oppCards {
  display: inline-grid;
  grid-template-rows: $grid-rows;
  grid-template-columns: repeat(2, 1fr);
}

#percentages {
  display: inline-grid;
  grid-template-rows: $grid-rows;
  width: 7%;
  color: $white;
}

#percentage1 {
  grid-row: 1;
}

#percentage2 {
  grid-row: 3;
}

#percentage3 {
  grid-row: 5;
}

#percentage4 {
  grid-row: 7;
}

#percentage5 {
  grid-row: 9;
}

/* Poker table */
#pokerTable {
  height: 60%;
  width: 80%;
  background: $green;
  margin: 4vh auto 0 6%;
  border-radius: $table;
  border: 40px solid $black;
  padding: 3vh 0 3vh 0;
  display: inline-flex;
}

#playerCards {
  width: 25%;
  padding-left: 4vh;
}

/* Playing cards */
.playerCards {
  width: 33%;
  border: $cardBorder $lightgrey;
  border-radius: $cards;
}

/* All the cards */
#rightCard {
  margin-left: 2vh;
}

#sendIcon {
  grid-row: 3;
}

/* Sidebar */
.sidebar {
  width: 3%;
  background: $sidebar;
  display: inline-grid;
  grid-template-rows: repeat(20, 1fr);
}

.sidebarItem {
  margin: $marginCenter;
  padding-top: 10%;
}

.slider {
  width: 33%;
  text-align: center;
}

#sliderFunctions {
  padding-top: 1%;
  justify-content: center;
  width: 100%;
  display: inline-flex;
}

#star-icon {
  grid-row: 4;
}

#submitGuess {
  font-size: $small;
  border-radius: $button;
  padding-top: 1.5%;
}

#tableCards {
  width: 52%;
}

.tableCards {
  width: 15%;
  margin-left: 2vh;
  border: $cardBorder $black;
  border-radius: $cards;
}


/* Exercise_Table */
.table {
  width: 100%;
  height: 5%;
  top: 298px;
}

/* Multiple elements affected */
.hand1, .hand2, .hand3, .hand4, .hand5 {
  width: 90%;
  border: $cardBorder $black;
  border-radius: $cards;
}

#playerCards, #tableCards {
  margin-top: 10%;
}