$grid-rows: repeat(5, 1fr);

$borderHeader: 20px;
$table: 100px;
$cards: 5px;
$button: 7px;

$headerText: 32px;
$large: 24px;
$medium: 18px;
$small: 14px;

$marginCenter: 0 auto;

$cardBorder: 2px solid;